[Unit]
Description=My Local Initial Service

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/share/macbookpro-2015/local-service start
ExecStart=/usr/share/macbookpro-2015/local-service stop

[Install]
WantedBy=multi-user.target
